.btn-wsp{
  position: fixed;
  height: 55px;
  width: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
  background: green;
}
btn-wsp:hover{background: green;}






header {text-align: center;
  text-decoration: underline;
font-family: monospace;
text-shadow: rgb(255, 255, 255) 5px 5px 10px;
background-color: rgba(255, 255, 255, 0.5);
margin-bottom: 0%;
border-radius: 10px;
}

body {background-image: url(../imagenes/recetas.png);
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment:;}

nav {text-align: center;
  text-shadow: rgb(255, 255, 255) 5px 5px 10px;
background-color: rgba(255, 255, 255, 0.5);
margin-bottom: 0%;
text-decoration: underline;
font-family:monospace;
border-radius: 10px; }

section {text-align: center;
  border-radius: 10px;
  font-family: monospace;
  text-shadow: rgb(255, 255, 255) 5px 5px 10px;
  background-color: rgba(255, 255, 255, 0.5);
margin-bottom: 0%;
background-position: center
}

aside {border-radius: 10px;
  font-family: monospace;
 text-shadow: rgb(255, 255, 255) 5px 5px 10px;
 background-color: rgba(255, 255, 255, 0.5);
 margin-bottom: 0%;
 background-position: center
}


footer{justify-content: space-around;
align-items: center;
flex-direction: row;
}

.redes-sociales {display: flex;
  justify-content: space-around;
flex-direction: row;
align-items: center;
}

.redes-sociales img{z-index: 999;
  width: 40px;
height: 40px;}


.instagram {
  bottom: 15vh;
  right: 4vw;
  background-color: white;
  border-radius: 50%;
  width: 3%;
  height: 3%;}

.twitter{bottom: 15vh;
right: 4vw;
background-color: white;
border-radius: 50%;
width: 3%;
height: 3%;}


.facebook{bottom: 15vh;
right: 4vw;
background-color: white;
border-radius: 50%;
width: 3%;
height: 3%;
}
