h1{background-position: center;
font-family:cursive;
text-decoration: underline;
}

h2 {text-decoration-color: white;
font-family: sans-serif;}

body {background-color: pink;
  background-image: url( ../imagenes/recetas.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-attachment: fixed;
text-align: center;
}
section {background-color: white;
  border-radius: 10px;
  font-family: sans-serif;
}

aside {background-color: salmon;
  font-family: cursive;
 border-radius: 10px
}
