.btn-wsp{
  position: fixed;
  height: 55px;
  width: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}
btn-wsp:hover{
  text-decoration: none;
  color: #0df053;
  background: #fff;
}






header {text-align: center;
  text-decoration: underline;
font-family:cursive;
text-shadow: rgb(255, 255, 255) 5px 5px 10px;
background-color: rgba(255, 255, 255, 0.5);
margin-bottom: 0%;
border-radius: 10px;
}

body {background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment:;
  background-image: url(../imagenes/recetas.png);
text-shadow: rgb(255, 255, 255) 5px 5px 10px;
background-color: rgba(255, 255, 255, 0.5);
margin-bottom: 0%;
font-family:cursive;
border-radius: 10px;}

nav {text-align: center;
  text-shadow: rgb(255, 255, 255) 5px 5px 10px;
background-color: rgba(255, 255, 255, 0.5);
margin-bottom: 0%;
text-decoration: underline;
font-family:cursive;
border-radius: 10px; }

section {text-align: center;
  border-radius: 10px;
  font-family: cursive;
  text-shadow: rgb(255, 255, 255) 5px 5px 10px;
  background-color: rgba(255, 255, 255, 0.5);
margin-bottom: 0%;
background-position: center
}

aside {border-radius: 10px;
  font-family: cursive;
 text-shadow: rgb(255, 255, 255) 5px 5px 10px;
 background-color: rgba(255, 255, 255, 0.5);
 margin-bottom: 0%;
 background-position: center
}

div {width: 500px;
  height: auto;
margin: inherit;
display: block;
border-radius: 50%;}
